body{
	background: url("../images/RuinsBG.jpg");
	font-size: 20px;
	line-height: 34px;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}
script{
	font-size: 20px;
	line-height: 34px;
	color: white;
	font-family: 'Press Start 2P', cursive;	
}
.button{
	font-size: 20px;
	line-height: 34px;
	color: white;
	font-family: 'Press Start 2P', cursive;	
}